{% extends "base.html" %}

{% block content %}
  <h1>Käyttäjän {{user_logged_in.nimi}} Muistilista</h1>

  <p>
    <a href="{{base_path}}/task/new" class="btn btn-success">Lisää Askare</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Lisäyspäivä</th>
        <th>Tärkeys</th>
        <th>Tila</th>
        <th>Luokka</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a href="{{base_path}}/task/{{task.id}}">{{task.nimi}}</a></td>
          <td>{{task.lisayspaiva}}</td>
          {% for priority in priorities%}
            {% if priority.id == task.tarkeysaste_id %}
              <td>{{priority.nimi}}</td>            
            {% endif %}
          {% endfor %}
          <td>
            {% if task.tehty == 1 %}
              <label class="label label-succes">tehty</label>
            {% else %}
              <label class="label label-danger">tekemättä</label>
            {% endif %}
          </td>
          <td>Kotityöt</td>
          <td><a href="{{base_path}}/task/{{task.id}}/edit" class="btn btn-default">Muokkaa</a></td>
          <td> 
            <form method="post" action="{{base_path}}/task/{{task.id}}/done" style="display: inline-block;">
              <button type="submit" class="btn btn-default">Tehty</button>
            </form>
          </td>
        </tr> 
      {% endfor %}
    </tbody>
  </table>
{% endblock %}