{% extends "base.html" %}

{% block content %}
  <h1>Siivoa kämppä</h1>
  <ul>
    <li><strong>Lisäyspäivä:</strong> 20.1.2015</li>
    <li><strong>Tärkeys:</strong> Ei tärkeä</li>
    <li><strong>Tila:</strong> <label class="label label-danger">Tekemättä</label></li>
    <li><strong>Luokka:</strong> Kotityöt</li>
  </ul>
  <p>
    Muistutus kämpän siivoamisesta. 
  </p>
    <p>
      <button class="btn btn-danger">Poista</button> <a href="1/edit" class="btn btn-default">Muokkaa</a>
    </p>
{% endblock %}